<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <title>Pixel Animation</title>
    <link rel='stylesheet' href='css/index.css'>
</head>
<body>

    <script src='js/obtainImageData.js'></script>
    <script src='js/index.js'></script>
</body>
</html>
